* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
  }
  
  h1, h2, h3 {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  button {
    cursor: pointer;
  }
  